.frame{
    background-color: #e0e0e0;
    font-weight: 300;
    font-family: 'Roboto', monospace;
    color: #424242;
    padding: 5%;
    text-align: center;
}
.frame h1{
    font-size: 20px;
    font-weight: 300;
    white-space: pre-wrap;
}